.myCart{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    margin: 10px;
    margin-right: 5%;
}

#myCart{
    text-align: center;
    color: orangered;
}

#totalPrice{
    text-align: center;
    color: blue;
}